*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 400;
    color: #DABC5C;
    text-align: center;
    text-transform: uppercase;
}

hr {
    width: 100%;
    border: 4px solid #C39D63;
    margin: 20px 0px 50px 0px;
    justify-content: center;
}

/* Header Section */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vh;
    
}


#header .header {
    min-height: 8vh;
    background-color: white;
}

#header .nav-list ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 13px;
}

#header .nav-list li {
    margin-bottom: 25px;
}

#header .nav-list ul a {
    color: black;
   
}



#header .nav-list ul a:hover {
    color: #edc967;
}
/* End Header Section */

/* Homepage Section */
.homepage {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 55px;
}
.homepage .info {
   margin-left: 120px;
}

.homepage h1 {
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 2px;
    
}

#homepage .cta {
    margin-top: 50px;
}


#homepage .cta-discover {
    border: 2px solid #d9c461;
    padding: 15px 40px;
    text-transform: uppercase;
    background: transparent;
    color: #000000;
    
}
#homepage .cta-discover:hover {
    color: #ffffff;
    background-color: #d9c461;
}

/* End Homepage Section */

/* New Arrivals Section */
#new-arrivals .new-arrivals {
    flex-direction: column;
}

.brands-container {
    display: block;
    
}

.brand {
    display: flex;
    margin-top: 50px;
}

.brand .photo-1 {
    margin-left: 50px;
    max-width: 450px;
    max-height: 370px;
}

.brand .photo-2 {
    margin-right: 50px;
    max-width: 450px;
    max-height: 370px;
}

.about-brand {
    margin: 50px  90px;
    font-size: 20px;
    line-height: 2;
   justify-content: center;
   text-align: left;
}

#new-arrivals .cta {
    margin-top: 50px;
}

#new-arrivals .cta-buy {
  
    padding: 10px 15px;
    text-transform: uppercase;
    background: #d9c461;
    color: #ffffff;
}

#new-arrivals .cta-buy:hover {
    color: #ffffff;
    background-color: #948747;

}

/* End New Arrivals Section */

/* Categoroes Section */
.category-item {
   padding: 15px;
   position: relative;
   width: 50%;
}

.category-item img {
    width: 100%;
  height: auto;
}

.category-item button {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: black;
  font-size: 20px;
  padding: 12px 50px;
  border: none;
  outline:none;
  opacity: 0.8;
  
 
 
}

.category-item button:hover{
    opacity: 1;
    border: none;
    
}


/* End Categories Section */

/* Footer Section */
#footer .footer{
background-color: black;
padding: 25px;
}

#footer .social-icons {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#footer .social-icons p {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

#footer .social-icons p span {
    color: rgb(174,133,37);
}

#footer .fa-facebook, .fa-instagram {
    color: white;
}

#footer .fa-facebook:hover, .fa-instagram:hover {
    color: rgb(174,133,37);
}
/* End Footer Section */

@media only screen and (max-width: 768px){
    .about-brand h3 {
        font-size: 15px;
    }
    .about-brand p {
        font-size: 15px;
    }

    .new-arrivals .brand {
        
            flex-direction: column;
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 100px 20px;
            
        }

    .new-arrivals .about-brand{
        justify-content: center;
        text-align: center, justify;
        text-justify: inter-word;
    }

    .new-arrivals .brand-photo img {
        width: auto;
        margin: 0 auto;
    }
        
    .homepage .info h1 {
        font-size: 20px;
        text-align: center;
        letter-spacing: 0;
    }
    .homepage .info .cta {
        font-size: 15px;
    }
} 